<h1>About Us</h1>
<p>
	The <a href="http://railstutorial.org">Ruby on Rails Tutorial<br/></a>
	is a project to make a book and screencasts to teach web development
	with <a href="http://railstutorial.rog">Ruby on Rails</a>. This is the<br/>
	sample application for the tutorial.
</p>