<div class="center hero-unit">
	<h1>Development App</h1>
	<h2>
		This is the home page for the <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
		Development application -- The contents of the home page
	</h2>
	<%= link_to "Sign up now!", signup_path, class:"btn btn-large btn-primary" %>	
</div>

<%= link_to image_tag("rails.png", alt:"Rails"), 'http://rubyonrails.org/' %> -- This image is from the website
<br/><br/><br/><br/>
<img alt="Rails" src="/assets/Printer-icon.png" />
<%= image_tag "Printer-icon.png" %> -- These images are from the asset

			
	
